@media only screen and (min-width: 992px) {
  .m_show {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .homeSlider .main_slider_section6 .homeSlider__item img:nth-child(2),
  .homeSlider .main_slider_section6 .homeSlider__item img:nth-child(3) {
    display: none;
  }
  .fluid_wrapper {
    min-height: 100vh;
  }
  .fluid_wrapper .menu__hamburger {
    margin-top: 0;
  }
  .portfolio_mobile_content {
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    padding: 60px 20px 30px 20px;
  }
  .portfolio_inner_right_wrapper.shrink {
    width: 100% !important;
  }
  .portfolio_inner_up_title {
    margin-bottom: 20px;
    h3 {
      font-family: "GL Gordeziani";
      color: #fff;
      font-size: 90px;
      line-height: 80px;
    }
  }
  .portfolio_mobile_up_text {
    * {
      color: #fff;
      font-family: "HelveticaNeueLTGEOW82-75Bd";
      font-size: 12px;
    }
  }

  .members__slider {
    flex-direction: column;
  }
  .members__info--title * {
    font-size: 19px;
  }
  .contact_us_href a {
    display: inline-block;
  }

  .contact_us_href {
    padding-top: 45px;
  }

  .services__slider__item--down .services_text {
    margin: 20px 0 10px;
  }
  .members__logo {
    transform: translateX(0px);
    text-align: center;
  }
  .services__slider__item--down .services_likeshares {
    margin-top: 25px;
    flex-wrap: wrap;
  }
  .portfolio__slider__item__box__info h2 {
    font-size: 24px;
    margin: 5px 0 10px;
  }
  .portfolio__wrapper .portfolio_slider_footer {
    padding: 10px 23px 10px 10px;
  }
  .portfolio__wrapper {
    padding: 15px;
  }
  .portfolio__slider__item__box__info {
    padding: 5px 5px 5px 5px;
  }
  .portfolio__slider__item
    .portfolio__slider__item__box:nth-child(even)
    .portfolio__slider__item__box__img {
    order: 1;
  }

  .portfolio__slider__item__box:nth-child(1)
    .portfolio__slider__item__box__info,
  .portfolio__slider__item__box:nth-child(2)
    .portfolio__slider__item__box__info {
    flex-direction: column;
  }
  .portfolio {
    width: 100%;
    height: auto;
  }
  .portfolio__slider {
    width: 100%;
    height: auto;
  }

  .portfolio__topDecor {
    padding: 0px 15px 20px 15px;
  }
  .portfolio__topDecor img {
    height: 67px;
    width: 75px;
    object-fit: contain;
  }
  .menu__hamburger {
    .top_nav {
      display: none !important;
    }
  }

  .menu.shrink .top_nav li {
    animation: unset !important;
  }

  .contact__footer,
  .contact__back {
    display: none;
  }
  .modal {
    padding-left: 0 !important;
  }
  .modal-body {
    height: 100vh;
    overflow-y: scroll;
  }
  .contact .close {
    top: 12px;
    right: 9px;
  }
  .contact__form select {
    background-position: 95% center;
    background-size: 11px;
  }
  .contact__title h3 {
    font-size: 40px;
  }
  .contact__form form .form-row .col {
    width: 100%;
    max-width: 100%;
    flex-basis: unset;

    &:first-child {
      margin-bottom: 1rem;
    }
  }
  .contact {
    padding: 0px 5px 5px 5px;
  }
  .services__slider__item--up .services_tabs ul li:not(:last-child) {
    margin-right: 15px;
  }
  .services {
    width: 100%;
    height: unset;
  }
  .services__slider__item {
    background-position: center !important;
    background-size: contain !important;
  }
  .menu {
    position: relative;
    height: unset;
    width: 100%;
    z-index: 9999;
    background-color: transparent;
  }
  .menu__hamburger__wrapper {
    margin-left: -13px;
  }
  .services__slider__item--down .services_likeshares > div:not(:last-child) {
    margin-right: 30px;
  }

  .services__slider__item--up .services_title * {
    font-size: 32px;
  }
  .services__slider__item--up .services_tabs {
    ul {
      flex-wrap: wrap;
    }
  }

  .menu .menu__commonTabs span {
    visibility: visible !important;
    display: block;
    animation: fade 1s 0.5s forwards;
  }

  .menu__commonTabs {
    position: absolute;
    top: 74px;
    z-index: 111;
    width: 0%;
    overflow: auto;
    transition: all 0.7s;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1e2b3b;
    padding-top: 35px;
    margin-left: 0;
    height: calc(100vh - 74px);
    ul {
      padding-left: 20px;
    }
    .top_nav {
      padding-left: 5px;
      width: 100%;
      position: relative;
      padding-bottom: 43px;
      &:after {
        content: "";
        position: absolute;
        bottom: 29px;
        width: calc(100% - 40px);
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: #2f435d;
        z-index: 100;
      }
      ul {
        display: block;
        margin-bottom: 20px;

        li {
          margin-bottom: 10px;

          a {
            font-size: 17px;
          }
        }
      }
    }

    &.active {
      width: 100%;
    }
  }

  .menu__commonTabs ul li .left_img img {
    width: 30px;
    height: 30px;
  }
  .menu__hamburger {
    margin-top: 0;
    background-color: #000;
    position: relative;

    .mobile_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  .members_slider_item {
    flex-direction: column;
    align-items: center;
  }
  .members {
    height: auto;
    min-height: 100vh;
    padding: 15px 15px;
  }
  .top_nav {
    display: flex;
    justify-content: center;
  }
  .members__info--title {
    text-align: center;
  }

  .members__name {
    color: #fff;
    font-size: 48px;
    font-family: "Conv_NEXA BOLD_0";
    transform: translateX(0);
    text-align: center;
  }

  .members_slider_item .members__img > img {
    width: 83%;
    object-fit: contain;
    margin-top: 30px;
    height: unset;
    max-height: 250px;
  }
  .members__logo svg {
    width: 262px;

    height: 100px;
  }
  .members__info--text {
    margin-top: 55px;
  }
  .members__leftFluid {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .members__img {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-top: 35px;
    margin-left: 0;
  }

  .members__slider {
    max-width: 100%;
  }
  .m_show {
    display: block;
  }
  .m_hide {
    display: none !important;
  }
  .home__navigation {
    position: absolute;
    top: 95px;
    left: 0px;
    z-index: 100;
    width: 100%;
    padding-left: 0;
    width: 100%;
  }
  .home__nav__list__item a svg {
    width: 140px;
    transform: translate(-51px, 10px);
  }

  .home__nav__list__item a svg {
    width: 140px;
    transform: unset;
  }

  .home__nav__list__item:first-child a {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
  }

  .home__nav__list__item:first-child {
    text-align: center;
  }

  .home__nav__list li {
    padding-left: 50px;
  }
  .home__nav__list li:first-child {
    padding-left: 0px;
  }
  .homeSlider__item {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0 !important;
    padding-top: 215px !important;
  }

  .homeSlider__item > div {
    width: 100%;
    height: calc(100vh - 215px);
  }

  .homeSlider .main_slider_section1 .homeSlider__item img:first-child {
    height: calc(100vh - 300px);
    object-fit: contain;
  }
  .homeSlider .main_slider_section1 .homeSlider__item img:last-child {
    bottom: 97px;
    right: 11px;
    position: unset;
    height: calc(100vh - 500px);
    margin-top: 35px;
  }
  .homeSlider .main_slider_section6 .homeSlider__item img:nth-child(2) {
    top: 150px;
    left: 54px;
    height: 46px;
  }
  .homeSlider .main_slider_section6 .homeSlider__item img:first-child {
    height: 300px;
    animation: upDown 2.5s infinite;
    height: calc(100vh - 480px);
  }
  .homeSlider .main_slider_section6 .homeSlider__item img:nth-child(3) {
    animation: upDown 2.5s infinite;
    position: absolute;
    bottom: 177px;
    right: 31px;
    height: 83px;
  }

  .main_slider_section6 .homeSlider__item > div {
    width: 100%;
    height: calc(100vh - 215px);
    padding-top: 33px;
  }

  .homeSlider .main_slider_section6 .homeSlider__item img:nth-child(4) {
    display: none;
  }
  .homeSlider .main_slider_section2 img {
    max-height: calc(100vh - 270px);
    width: 80%;
    object-fit: contain;
    margin: 0 auto;
  }

  .homeSlider__item .home_randomize {
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .homeSlider .main_slider_section4.slick-active img {
    width: 85%;
    margin: 0 auto;
    max-height: calc(100vh - 270px);
    object-fit: contain;
  }

  .homeSlider .main_slider_section5 .homeSlider__item img {
    width: 85%;
    margin: 0 auto;
    height: unset;
    max-height: calc(100vh - 270px);
    object-fit: contain;
  }

  .homeSlider .main_slider_section3 .homeSlider__item > div .brocoli_title {
    font-size: 52px;
  }
  .homeSlider .main_slider_section3 .homeSlider__item img {
    max-height: calc(100vh - 355px);
    width: 75%;
    margin: 0 auto;
    object-fit: contain;
    position: unset;
  }

  .main_slider_section3 .homeSlider__item > div > div {
    position: relative;
  }
  .main_slider_section3 .homeSlider__item > div {
    padding-top: 50px;
  }
  .main_slider_section3 .homeSlider__item > div > {
    position: relative;
  }
  .homeSlider .main_slider_section3 .homeSlider__item > div .brocoli_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
  }

  .main_slider_section1 .homeSlider__item div {
    position: relative;
  }

  .homeSlider__item .home_randomize {
    margin-top: 30px;
  }

  .copyright {
    position: absolute;
    top: calc(100% - 145px);
  }

  .homeSlider__item > div {
    justify-content: center !important;
  }

  .portfolio__slider__item__box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    height: 140px;
    margin-bottom: 25px;
    display: flex;
  }

  .portfolio_inner_left_content {
    display: none;
  }
  .portfolioInner {
    width: 100%;
  }
  .content {
    padding: 0 20px;
  }
  .portfolio_inner_right_wrapper,
  .about_bottom_slider {
    width: 100% !important;
  }

  .portfolioInner {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
  }

  .about__top--wrapper {
    width: 100% !important;
    height: auto !important;
  }
  .slider ul {
    height: auto;
  }
  .portfolioInner .main {
    height: auto;
  }
  .content {
    margin-bottom: 10px;
  }

  .about {
    padding-left: 0px;
  }
  .portfolioInner .portfolio_inner_right_wrapper li {
    margin-right: 0;
    width: 100%;
  }
  .portfolio_masorny {
    // height: auto !important;
    width: 100% !important;
    overflow-y: unset;
  }

  .portfolioInner .portfolio_inner_right_content {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  .portfolio_masorny {
    .grid-item {
      width: 30.5%;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .about .about_bottom--sliderwrapper .about_bottom_dots .dots_left {
    left: 10px;
  }

  .about .about_bottom--sliderwrapper .about_bottom_dots .dots_right {
    right: 10px;
  }

  .about__top--wrapper .dots_left {
    left: 0px;
    transform: translateY(-34px);
  }

  .about__top--wrapper .dots_right {
    right: 0px;
    transform: translateY(-34px);
  }
  .about__top--slider.slick-slider {
    padding: 0 22px !important;
  }
  .portfolio_inner_common_section {
    width: 100%;
    height: 290px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .portfolio_inner_link a {
    margin-bottom: 15px;
  }
  .portfolio_inner_link {
    order: -1;
  }
}

@media only screen and (max-width: 576px) {
  .about__top--slider.slick-slider {
    padding: 0 0px !important;
  }
  .about__top .slick-slide {
    margin: 0 0px;
  }
  .top_slider_img_box {
    height: 180px;
  }
  .top_slider_title_box {
    text-indent: 40px;
  }
  .about .top_slider__item .top_slider_img_box a img {
    cursor: pointer;
    width: calc(100% - 83px);
    margin: 0 auto;
    height: 180px;
    object-fit: cover;
  }
}
