@media only screen and (min-width: 992px) {
  .m_show {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .members_slider_item {
    flex-direction: column;
    align-items: center;
  }
  .members {
    height: auto;
    min-height: 100vh;
    padding: 15px 15px;
  }
  .top_nav {
    display: flex;
    justify-content: center;
  }
  .members__info--title {
    text-align: center;
  }

  .members__name {
    color: #fff;
    font-size: 48px;
    font-family: "Conv_NEXA BOLD_0";
    transform: translateX(0);
    text-align: center;
  }

  .members_slider_item .members__img > img {
    width: 83%;
    object-fit: contain;
    margin-top: 30px;
    height: unset;
    max-height: 250px;
  }

  .members__leftFluid {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .members__img {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .members__slider {
    max-width: 100%;
  }
  .m_show {
    display: block;
  }
  .m_hide {
    display: none !important;
  }
  .home__navigation {
    position: absolute;
    top: 95px;
    left: 0px;
    z-index: 100;
    width: 100%;
    padding-left: 0;
    width: 100%;
  }
  .home__nav__list__item a svg {
    width: 140px;
    transform: translate(-51px, 10px);
  }

  .home__nav__list__item a svg {
    width: 140px;
    transform: unset;
  }

  .home__nav__list__item:first-child a {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
  }

  .home__nav__list__item:first-child {
    text-align: center;
  }

  .home__nav__list li {
    padding-left: 50px;
  }
  .home__nav__list li:first-child {
    padding-left: 0px;
  }
  .homeSlider__item {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0 !important;
    padding-top: 215px !important;
  }

  .homeSlider__item > div {
    width: 100%;
    height: calc(100vh - 215px);
  }

  .homeSlider .main_slider_section1 .homeSlider__item img:first-child {
    height: calc(100vh - 300px);
    object-fit: contain;
  }
  .homeSlider .main_slider_section1 .homeSlider__item img:last-child {
    bottom: 97px;
    right: 11px;
    position: unset;
    height: calc(100vh - 500px);
    margin-top: 35px;
  }
  .homeSlider .main_slider_section6 .homeSlider__item img:nth-child(2) {
    top: 150px;
    left: 54px;
    height: 46px;
  }
  .homeSlider .main_slider_section6 .homeSlider__item img:first-child {
    height: 300px;
    animation: upDown 2.5s infinite;
    height: calc(100vh - 480px);
  }
  .homeSlider .main_slider_section6 .homeSlider__item img:nth-child(3) {
    animation: upDown 2.5s infinite;
    position: absolute;
    bottom: 177px;
    right: 31px;
    height: 83px;
  }

  .main_slider_section6 .homeSlider__item > div {
    width: 100%;
    height: calc(100vh - 215px);
    padding-top: 33px;
  }

  .homeSlider .main_slider_section6 .homeSlider__item img:nth-child(4) {
    display: none;
  }
  .homeSlider .main_slider_section2 img {
    max-height: calc(100vh - 270px);
    width: 80%;
    object-fit: contain;
    margin: 0 auto;
  }

  .homeSlider__item .home_randomize {
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .homeSlider .main_slider_section4.slick-active img {
    width: 85%;
    margin: 0 auto;
    max-height: calc(100vh - 270px);
    object-fit: contain;
  }

  .homeSlider .main_slider_section5 .homeSlider__item img {
    width: 85%;
    margin: 0 auto;
    height: unset;
    max-height: calc(100vh - 270px);
    object-fit: contain;
  }

  .homeSlider .main_slider_section3 .homeSlider__item > div .brocoli_title {
    font-size: 52px;
  }
  .homeSlider .main_slider_section3 .homeSlider__item img {
    max-height: calc(100vh - 355px);
    width: 75%;
    margin: 0 auto;
    object-fit: contain;
    position: unset;
  }

  .main_slider_section3 .homeSlider__item > div > div {
    position: relative;
  }
  .main_slider_section3 .homeSlider__item > div {
    padding-top: 50px;
  }
  .main_slider_section3 .homeSlider__item > div > {
    position: relative;
  }
  .homeSlider .main_slider_section3 .homeSlider__item > div .brocoli_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
  }

  .main_slider_section1 .homeSlider__item div {
    position: relative;
  }

  .homeSlider__item .home_randomize {
    margin-top: 30px;
  }

  .copyright {
    position: absolute;
    top: calc(100% - 145px);
  }

  .homeSlider__item > div {
    justify-content: center !important;
  }
}
