/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
}

*:focus {
  outline: none;
}

ul,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.structure {
  width: calc(100% - 150px);
  margin-left: auto;
}

* {
  cursor: url("../images/mouse2.png"), auto;
}

.night,
.menu {
  * {
    cursor: url("../images/mousewhite.png"), auto !important;
  }
}

a,
.day_night_box,
.mCSB_draggerContainer {
  cursor: pointer;
}
