.portfolioInner {
  width: calc(100vw - 100px);
  //   transform: translateX(0px);
  margin-left: auto;

  .portfolio_inner_right_wrapper {
    padding-top: 90px;
    li {
      margin-right: 40px;
    }
  }

  .portfolio_inner_right_content {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    max-height: calc(100vh - 110px);
    overflow-y: auto;
    height: 100%;
    width: 500px;
    // overflow-y: scroll;
    // height: calc(100vh - 426px);
    // flex: 0 0 500px;

    .portfolio_inner_main_text {
      * {
        font-family: "HelveticaNeueLTGEOW82-75Bd";
        font-size: 12px;
        color: #000000;
      }
    }

    .portfolio_inner_main_titles {
      margin-bottom: 25px;
      span {
        font-family: "HelveticaNeueLTGEOW82-45Lt";
        color: #000000;
        font-size: 24px;
      }

      h3 {
        font-family: "HelveticaNeueLTGEOW82-75Bd";
        font-size: 36px;
        color: #000000;
      }
    }
  }

  .main {
    height: 100vh;
    overflow: hidden;
    position: relative;

    .mCSB_scrollTools {
      opacity: 1 !important;
    }

    .mCSB_dragger {
      display: block !important;
    }
    .content {
      height: 100%;

      .slider {
        height: 100%;

        #carousel {
          height: 100%;

          .mCSB_container {
            height: 100%;

            ul {
              height: 100vh !important;
              display: flex;
              li {
                // display: inline-block;
                // min-width: 40vw;
                // display: flex;
              }
            }
          }
        }
      }
    }
  }
}

.innerPortfolio {
  display: flex;
  overflow: hidden;

  .portfolio_inner_left_content {
    background-image: url("../images/hualing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex: 0 0 550px;
    max-width: 550px;
    padding: 50px 60px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    .menu__hamburger,
    .top_nav {
      position: relative;
      z-index: 100;
    }
    .portfolio_inner_shrink_bg {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: all 0.4s;
      height: 100%;
    }
    &.shrink1 {
      flex: 0 0 350px;
      max-width: 350px;

      .portfolio_inner_left_text {
        opacity: 0;
        visibility: hidden;
      }

      .portfolio_inner_shrink_bg {
        background-color: rgba(0, 0, 0, 0.4);
      }
      .top_nav ul {
        flex-wrap: unset !important;
      }
    }

    &.shrink2 {
      flex: 0 0 150px;
      max-width: 150px;
      padding: 50px 26px;

      .portfolio_inner_shrink_bg {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .menu__hamburger__wrapper.b-white {
        display: block !important;
      }

      .top_nav,
      .portfolio_inner_left_title,
      .portfolio_inner_left_text {
        transition: all 0.3s;
        visibility: hidden;
        opacity: 0;
        display: none;
      }
    }
  }

  .portfolio_inner_left_title {
    margin: 45px 0 50px;
    transform: translateX(-7px);
    min-width: 430px;
    transition: all 0.3s;
    h3 {
      font-family: "GL Gordeziani";
      color: #fff;
      font-size: 90px;
      line-height: 80px;
    }
  }

  .portfolio_inner_left_text {
    transition: all 0.3s;
    min-width: 430px;
    * {
      color: #fff;
      font-family: "HelveticaNeueLTGEOW82-75Bd";
      font-size: 12px;
    }
  }
}

.mCSB_dragger {
  width: 50px !important;
}
.portfolio_right_img {
  padding-top: 30px;
}

.top_nav {
  transition: all 0.3s;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      &:not(:last-child) {
        margin-right: 50px;
      }
      a {
        color: #fff;
        font-family: "HelveticaNeueLTGEOW82-75Bd";
        font-size: 12px;
      }
    }
  }

  &.common {
    li {
      &:not(:last-child) {
        margin-right: 20px !important;
      }
    }
  }
}

.toggle-btn {
  position: relative;
  width: 145px;
  height: 74px;
  margin: 0 auto;
  border-radius: 40px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 2px 25px #d9d9d9;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
  content: "";
  position: absolute;
  top: 8px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: #fff;
  transform: translate(-58px, 0px);
  z-index: 1;
}

#_1st-toggle-btn span:after {
  background-color: #000;
  transform: translate(8px, 0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: #000;
  transform: translate(56px, -19px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(79px, 0px);
}

/* Third toggle btn completed */
.day_night_box {
  position: absolute !important;
  top: 45px;
  z-index: 3333;
  left: 102px;
}

.day_night_box {
  width: 50px;
  height: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.day_night_box span {
  width: 50%;
  background-color: #000;
  display: block;
  height: 100%;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.day_night_box.night {
  background-color: #2a2a2a;
  span {
    transform: translateX(25px);
    background-color: #fff;
  }
}
.portfolioInner {
  #content {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  * {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
.portfolioInner.night {
  #content {
    background-color: #000 !important;
  }
  * {
    color: #fff !important;
  }
  .top_dots,
  .about_bottom_dots {
    img {
      filter: brightness(0) invert(1) !important;
    }
  }
}

.casino_copy_img:visited {
  transform: translateY(5px);
}

@media only screen and (min-width: 992px) {
  .portfolio_masorny {
    height: calc(100vh - 170px) !important;
    width: 800px;
    overflow-y: auto;
    .grid-item {
      width: 30.5%;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
.portfolio_masorny {
  .grid-item {
    width: 30.5%;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

/* width */
.portfolio_masorny::-webkit-scrollbar {
  width: 10px;
}
.portfolio_masorny {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.portfolio_masorny::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.portfolio_masorny::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  // border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.portfolio_masorny {
  // background: whitesmoke;
  // border: 1px solid rgba(0, 0, 0, 0.25);
}
/* Handle */
// .portfolio_masorny::-webkit-scrollbar-thumb {
//   background: #0056b8;
// }

// .portfolio_masorny::-webkit-scrollbar-track {
//   background: #f9485c;
// }
.portfolio_masorny {
  --scrollbarBG: #cfd8dc;
  // --thumbBG: #90a4ae;
}

.portfolio_inner_right_wrapper {
  width: 2700px !important;
}

.portfolio_inner_right_wrapper.shrink {
  width: 3300px !important;

  .portfolio_inner_right_content {
    margin-right: 15px;
  }
}

.b-white {
  cursor: pointer;
}
.b-white:after {
  content: unset !important;
}

.b-white:before {
  content: unset !important;
}
.portfolio_inner_arrow {
  width: 50px;
  cursor: pointer;
  fill: #fff;
}

.portfolio_inner_shrink_bg ~ .menu__hamburger {
  justify-content: center;
}
.portfolio_inner_top_nav {
  width: 430px;
}

.about_bottom_slider ul {
  display: none !important;
}

.mCSB_dragger_bar {
  cursor: grab;
}
.about__top--wrapper {
  width: 900px;
}
.portfolio_inner_common_section {
  width: 900px;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  iframe,
  video {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  &.iframes {
    flex-wrap: wrap;
    justify-content: flex-start;
    height: calc(100vh - 165px);
    overflow: auto;
    iframe {
      width: 47%;
      max-width: 47%;
      margin-right: 2%;
      height: 300px;
      margin-bottom: 30px;
    }
  }
}
@media only screen and (min-width: 1550px) {
  .portfolio_inner_right_wrapper {
    width: 3100px !important;
  }

  .portfolio_inner_right_wrapper.shrink {
    width: 3600px !important;
  }

  .portfolio_masorny {
    width: 1100px !important;
  }
  .about__top--wrapper,
  .about_bottom_slider {
    max-width: 1300px !important;
    width: 1300px !important;
  }
}

.portfolio_inner_link a {
  max-width: 300px;
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
  font-family: "HelveticaNeueLTGEOW82-45Lt";
  border: 1px solid #000;
  color: #000 !important;
  margin-bottom: 30px;
  transition: all 0.3s;

  &:hover {
    background-color: #000;
    color: #fff !important;
  }
}

.night {
  .portfolio_inner_link {
    a {
      border: 1px solid #fff;
    }

    a:hover {
      background-color: #fff !important;
      color: #000 !important;
    }
  }
}

.slick-arrow.slick-hidden {
  display: none !important;
}

.portfolio_inner_right_wrapper {
  &.iframe {
    .portfolio_inner_common_section {
      display: flex;
      flex-wrap: unset;
      iframe {
        max-width: 415px;
        flex: 0 0 415px;
        height: 60%;
        margin-right: 25px;
      }
    }
  }
  &.iframes2 {
    width: 2800px !important;
  }

  &.iframes3 {
    width: 3300px !important;
    .portfolio_inner_common_section {
      width: 1300px;
    }
  }
  &.iframes4 {
    width: 3800px !important;
    .portfolio_inner_common_section {
      width: 1800px;
    }
  }
  &.iframes5 {
    width: 4300px !important;
    .portfolio_inner_common_section {
      width: 2300px;
    }
  }

  &.iframes6 {
    width: 4800px !important;
    .portfolio_inner_common_section {
      width: 2800px;
    }
  }
  &.iframes7 {
    width: 5300px !important;
    .portfolio_inner_common_section {
      width: 3300px;
    }
  }
  &.iframes8 {
    width: 58900px !important;
    .portfolio_inner_common_section {
      width: 3800px;
    }
  }
  &.iframes9 {
    width: 6300px !important;
    .portfolio_inner_common_section {
      width: 4300px;
    }
  }
  &.iframes10 {
    width: 6800px !important;
    .portfolio_inner_common_section {
      width: 4800px;
    }
  }
}
