.portfolioInner {
  width: calc(100vw - 100px);
  //   transform: translateX(0px);
  margin-left: auto;

  .portfolio_inner_right_wrapper {
    padding-top: 60px;
    li {
      margin-right: 40px;
    }
  }

  .portfolio_inner_right_content {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    max-width: 500px;
    flex: 0 0 500px;

    .portfolio_inner_main_text {
      * {
        font-family: "HelveticaNeueLTGEOW82-75Bd";
        font-size: 12px;
        color: #000000;
      }
    }

    .portfolio_inner_main_titles {
      margin-bottom: 25px;
      span {
        font-family: "HelveticaNeueLTGEOW82-45Lt";
        color: #000000;
        font-size: 24px;
      }

      h3 {
        font-family: "HelveticaNeueLTGEOW82-75Bd";
        font-size: 36px;
        color: #000000;
      }
    }
  }

  .main {
    height: 100vh;
    overflow: hidden;
    position: relative;

    .mCSB_scrollTools {
      opacity: 1 !important;
    }

    .mCSB_dragger {
      display: block !important;
    }
    .content {
      height: 100%;

      .slider {
        height: 100%;

        #carousel {
          height: 100%;

          .mCSB_container {
            height: 100%;

            ul {
              height: 100vh !important;
              display: flex;
              li {
                // display: inline-block;
                // min-width: 40vw;
                // display: flex;
              }
            }
          }
        }
      }
    }
  }
}

.innerPortfolio {
  display: flex;
  overflow: hidden;

  .portfolio_inner_left_content {
    background-image: url("../images/hualing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex: 0 0 550px;
    max-width: 550px;
    padding: 50px 60px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.shrink1 {
      flex: 0 0 350px;
      max-width: 350px;
    }

    &.shrink2 {
      flex: 0 0 150px;
      max-width: 150px;
      padding: 50px 26px;
      .menu__hamburger__wrapper.b-white {
        display: block !important;
      }

      .top_nav,
      .portfolio_inner_left_title,
      .portfolio_inner_left_text {
        visibility: hidden;
        opacity: 0;
        display: none;
      }
    }
  }

  .portfolio_inner_left_title {
    margin: 80px 0 50px;
    transform: translateX(-7px);
    min-width: 430px;
    transition: all 0.3s;
    h3 {
      font-family: "GL Gordeziani";
      color: #fff;
      font-size: 90px;
      line-height: 80px;
    }
  }

  .portfolio_inner_left_text {
    transition: all 0.3s;
    min-width: 430px;
    * {
      color: #fff;
      font-family: "HelveticaNeueLTGEOW82-75Bd";
      font-size: 12px;
    }
  }
}

.mCSB_dragger {
  width: 50px !important;
}
.portfolio_right_img {
  padding-top: 30px;
}

.top_nav {
  transition: all 0.3s;

  ul {
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 50px;
      }
      a {
        color: #fff;
        font-family: "HelveticaNeueLTGEOW82-75Bd";
        font-size: 12px;
      }
    }
  }

  &.common {
    li {
      &:not(:last-child) {
        margin-right: 20px !important;
      }
    }
  }
}

.toggle-btn {
  position: relative;
  width: 145px;
  height: 74px;
  margin: 0 auto;
  border-radius: 40px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 2px 25px #d9d9d9;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
  content: "";
  position: absolute;
  top: 8px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: #fff;
  transform: translate(-58px, 0px);
  z-index: 1;
}

#_1st-toggle-btn span:after {
  background-color: #000;
  transform: translate(8px, 0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: #000;
  transform: translate(56px, -19px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(79px, 0px);
}

/* Third toggle btn completed */
.day_night_box {
  position: absolute !important;
  top: 25px;
  z-index: 3333;
  left: 102px;
}

.day_night_box {
  width: 50px;
  height: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.day_night_box span {
  width: 50%;
  background-color: #000;
  display: block;
  height: 100%;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.day_night_box.night {
  background-color: #2a2a2a;
  span {
    transform: translateX(25px);
    background-color: #fff;
  }
}
.portfolioInner {
  #content {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  * {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
.portfolioInner.night {
  #content {
    background-color: #000 !important;
  }
  * {
    color: #fff !important;
  }
  .top_dots,
  .about_bottom_dots {
    img {
      filter: brightness(0) invert(1) !important;
    }
  }
}

.casino_copy_img:visited {
  transform: translateY(5px);
}

.portfolio_masorny {
  max-height: 500px;
  overflow-y: scroll;
  .grid-item {
    width: 30.5%;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
