.services {
  width: calc(100vw - 150px);
  margin-left: auto;
  background-color: #fff;
  height: 100vh;

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    height: 100%;
    padding-bottom: 0;
  }

  &__slider {
    height: 100%;

    &__item {
      display: flex !important;
      flex-direction: column;
      // padding: 6% 0px 0 7% !important;
      height: 100%;
      align-items: flex-start;

      background-position: center;
      background-repeat: no-repeat;
      &--down {
        padding-top: 30px;
        .services_text {
          max-width: 700px;
          margin: 20px 0 60px;
          .services_text_wrapper * {
            font-family: "HelveticaNeueLTGEOW82-45Lt";
            font-size: 14px;
            color: #000;
          }
        }
        .services_likeshares {
          display: flex;

          & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:not(:last-child) {
              margin-right: 40px;
            }
            span {
              &:first-child {
                width: 70px;
                flex: 0 0 70px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #000;
                color: #fff;
                font-family: "HelveticaNeueLTGEOW82-45Lt";
                font-size: 14px;
              }

              &:last-child {
                color: #000;
                font-family: "HelveticaNeueLTGEOW82-75Bd";
                font-size: 18px;
                margin-top: 10px;
              }
            }
          }
        }
      }

      &--up {
        .services_title {
          * {
            font-family: "HelveticaNeueLTGEOW82-75Bd";
            color: #000000;
            font-size: 72px;
          }
        }

        .services_tabs {
          margin-top: 35px;
          padding-left: 12px;
          ul {
            display: flex;

            li {
              font-family: "HelveticaNeueLTGEOW82-45Lt";
              font-size: 18px;
              position: relative;
              a {
                font-family: "HelveticaNeueLTGEOW82-45Lt";
                font-size: 18px;
                position: relative;
                color: #000;
                transition: all 0.3s;
              }

              &::after {
                position: absolute;
                top: 14px;
                left: 0px;
                width: 0;
                height: 0;
                border-top: 3px solid transparent;
                border-left: 7px solid #000;
                border-bottom: 3px solid transparent;
                z-index: 1;
                content: "";
              }

              &:not(:last-child) {
                margin-right: 15%;
                color: #000000;
              }
            }
          }
        }
      }
    }
  }
}

.contact_us_href {
  text-align: left;

  a {
    font-family: "HelveticaNeueLTGEOW82-45Lt";
    border: 1px solid #43a041;
    padding: 8px 70px;
    border-radius: 0;
    color: #000;
    display: inline-block;
    margin-top: 15px;
    transition: all 0.3s;
    &:hover {
      background-color: #43a041;
      color: #fff;
      border-color: #43a041;
    }
  }
}

#slider {
  width: 500px;

  span {
    margin-left: 0;
  }
}

.section_translate {
  transition: all 0.4s;

  &.active {
    transform: translateX(200px);
  }
}

.fluid_wrapper {
  overflow: hidden;
}

.services {
  .services_tabs {
    ul {
      li {
        a {
          display: block;
          color: #000;
          text-decoration: none;
          position: relative;
          transition: all 0.1s 0.2s;
          padding: 3px 14px;
          span {
            position: relative;
            z-index: 10;
          }
        }

        a::after {
          content: "";
          background: #000;
          width: calc(100% + 10px);
          transform: translateX(-50%);
          height: 0;
          position: absolute;
          bottom: -1px;
          left: 50%;
          transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
        a:hover {
          cursor: pointer;
          color: #fff;
          span {
            color: #fff;
            transition: all 0.2s 0.2s;
            cursor: pointer;
          }
        }
        a:hover::after {
          height: calc(100% + 2px);
        }
      }
    }
  }
}
// style="background-image: url('images/services.png');"

.service_item {
  background-image: url("../images/services.png");
  background-size: 54%;
  background-position: 100% 124px;
}

.service_item1 {
  background-image: url("../images/services1.png");
  background-size: 46%;
  background-position: 100% 80px;
}

.service_item2 {
  background-image: url("../images/services2.png");
  background-size: 14%;
  background-position: 78% center;
}
.service_item3 {
  background-image: url("../images/services3.png");
  background-size: 70%;
  background-position: 95% 80%;
}
.service_item4 {
  background-image: url("../images/services4.png");
  background-size: 55%;
  background-position: 100% 40%;
}

.service_item5 {
  background-image: url("../images/services5.png");
  background-size: 60%;
  background-position: 113% 39px;
}

.service_item6 {
  background-image: url("../images/services6.png");
  background-size: 54%;
  background-position: 100% 85px;
}

.services_tabs_text {
  display: none;
}

.services .services_tabs ul li a.active {
  color: #fff;
  &::after {
    height: calc(100% + 2px);
  }
}

.services_links_wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  .contact_us_href {
    a {
      margin: 0;
    }
  }
  .portfolio_inner_link {
    margin-left: 30px;

    a {
      margin: 0;
      padding: 7px 68px;
    }
  }
}

.services__slider__item {
  position: relative;

  .services__slider__item--up,
  .services__slider__item--down {
    position: relative;
    z-index: 100;
    padding-left: 6%;
  }

  .services__slider__item--up {
    padding-top: 5%;
  }
  .services__slider__item--down {
    height: 100%;
  }
  canvas {
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: none !important;
  }
}
